.mark-leave {
  max-width: 600px;
  margin-top: 20px;
  margin-left: 35%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mark-leave h1 {
  text-align: center;
  margin-bottom: 20px;
}

.mark-leave .form-group {
  margin-bottom: 15px;
}

.mark-leave label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.mark-leave input,
.mark-leave textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.mark-leave textarea {
  height: 150px;
  resize: vertical;
}

.mark-leave button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.mark-leave button:hover {
  background-color: #0056b3;
}